:root {
    --secondary-dark: #21212b;
    --main-dark: #181820;
    --pink: #fc76a1;
    --main-text-color: #d5d5d7;
    --secondary-text-color: #a7a7ab;
    --project-text-color: #e2e2e3;
    --active: #383846;
    --active-hover: #272732;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    font-size: 18px;
    display: flex;
    min-height: 100vh;
    background-color: var(--main-dark);
}

/* PROJECT SIDEBAR */

.sidebar {
    background-color: var(--secondary-dark);
    min-width: 250px;
    width: 350px;
    color: var(--project-text-color)
}

.sidebar h2 {
     margin: 25px;
    color: var(--secondary-text-color);
}

.project {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.project:hover {
    cursor: pointer;
    background-color: var(--active-hover);
}

.active {
    background-color: var(--active);
}

.sidebar .project-title {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.add-project {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* TASKS */
.container {
    width: 50%;
}

.tasks {
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.tasks-container {
    margin-bottom: 30px;
}

.tasks .project-title {
    color: #fff;
    margin-bottom: 30px;
}

.counter {
    margin-bottom: 15px;
}

.tasks-container .card:hover {
    background-color: var(--active-hover);
    cursor: pointer;
}   

.card {
    display: flex;
    background-color: var(--secondary-dark);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
}

.task-details {
    font-size: .9rem;
    color: var(--secondary-text-color);
    display: flex;
}

.task-details div:nth-child(odd) {
    margin-right: 10px;
}

.task-details i {
    margin-right: 5px;
}

.none {
    display:  none;
}

 .low {
    color: rgb(31, 194, 31);
}

 .medium {
    color: yellow
}

 .high {
    color: rgb(255, 75, 75);
}

.completed {
    text-decoration: line-through;
    text-decoration-color: #fff;
    text-decoration-thickness: 1.5px;
}

/* FORM BUTTONS/CONTROL */

.btn {
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary-dark);
    padding: 15px;
    background-color: var(--main-dark);
    color: var(--main-text-color);
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--active-hover);
}

.project:hover .modify-buttons,
.card:hover .modify-buttons{
    display: block;
}

.modify-buttons {
    display: none;
    margin-left: auto;
    align-self: center;
}

.modify-buttons i:hover {
 color: var(--pink)
}

.add-icon {
    width: 30px;
    height: 30px;
    color: var(--main-dark);
    background-color: var(--pink);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.add-task .btn{
    width: 100%;
}

.add-task {
    padding: 0;
    margin-bottom: 30px;
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid var(--pink);
    border-radius: 5px;
    margin-right: 10px;
}

.checkbox:hover {
    cursor: pointer;
}

.checked {
    color: var(--main-dark);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popout-btns {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.popout-btns button {
    width: 100px;
    height: 30px;
    padding: 5px;
}

.projectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-input, .task-input {
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.taskForm {
    width: 100%;
    padding: 15px;
}

.task-input {
    width: 100%;
}

/* FORM / POPOUT TASK DETAILS */

.detailsForm {
    letter-spacing: 1px;
    color: black;
    position: absolute;
    padding: 15px;
    min-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
}

.form-control {
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.project-info, .task-info, .fa-check {
    pointer-events: none;
}
